In [26]:
import numpy as np
import pandas as pd

In [27]:
import pandas as pd
import numpy as np
path_120='../120/phase_detection/manual/'
manual_120=pd.read_csv(path_120+'manual.csv',index_col=[0])



path_150='../150/phase_detection/manual/'
manual_150=pd.read_csv(path_150+'manual.csv',index_col=[0])


#manual_150
manual_all=pd.concat([manual_120,manual_150], axis=0)


manual_all

,signal,date,detector_parameter,Protected_Phase_Number,parameter,frequent_parameter_count,max_of_frequent_parameter_count,correct
6,85,2020-02-03,1,5.0,5,2,2,1
11,85,2020-02-03,2,2.0,2,3,3,1
23,85,2020-02-03,3,2.0,2,3,3,1
35,85,2020-02-03,4,2.0,2,2,2,1
48,85,2020-02-03,7,4.0,4,3,3,1
...,...,...,...,...,...,...,...,...
3222,102,2020-02-07,47,5.0,5,3,3,1
3231,102,2020-02-07,51,6.0,6,3,3,1
3237,102,2020-02-07,52,6.0,6,3,3,1
3243,102,2020-02-07,53,6.0,6,3,3,1
3248,102,2020-02-07,54,6.0,6,3,3,1

In [28]:
manual_all

,signal,date,detector_parameter,Protected_Phase_Number,parameter,frequent_parameter_count,max_of_frequent_parameter_count,correct
6,85,2020-02-03,1,5.0,5,2,2,1
11,85,2020-02-03,2,2.0,2,3,3,1
23,85,2020-02-03,3,2.0,2,3,3,1
35,85,2020-02-03,4,2.0,2,2,2,1
48,85,2020-02-03,7,4.0,4,3,3,1
...,...,...,...,...,...,...,...,...
3222,102,2020-02-07,47,5.0,5,3,3,1
3231,102,2020-02-07,51,6.0,6,3,3,1
3237,102,2020-02-07,52,6.0,6,3,3,1
3243,102,2020-02-07,53,6.0,6,3,3,1
3248,102,2020-02-07,54,6.0,6,3,3,1

In [29]:
summary=manual_all.groupby(['signal','detector_parameter','parameter','Protected_Phase_Number'])['correct'].count().reset_index().rename(columns={'correct':'count'})
summary.sort_values(['signal','detector_parameter','parameter','count'])
result=summary.loc[summary.groupby(['signal','detector_parameter'])['count'].idxmax()]
result['correct']=np.where(result['parameter']==result['Protected_Phase_Number'],1,0)

g=result.groupby('signal')
detailed_accuracy=pd.DataFrame([])
for sets, data in g:
    accuracy=len(data[data['correct']==1])/len(data)
    df=pd.DataFrame({'signal':sets, 'accuracy':accuracy,'number of detectors':len(data)}, index=[0])
    detailed_accuracy=detailed_accuracy.append(df)
detailed_accuracy

   signal  accuracy  number of detectors
0      85  1.000000                   20
0      86  0.886364                   44
0      90  0.851852                   27
0      91  0.966667                   30
0      92  0.846154                   26
0      93  0.740741                   27
0      94  1.000000                   14
0      95  0.675000                   40
0     102  1.000000                   14

In [31]:
result.to_csv('result.csv')

In [35]:
result.groupby(['signal'])['detector_parameter'].count().reset_index()

   signal  detector_parameter
0      85                  20
1      86                  44
2      90                  27
3      91                  30
4      92                  26
5      93                  27
6      94                  14
7      95                  40
8     102                  14

In [36]:
result_filtered=pd.read_csv('result_filtered.csv')
g=result_filtered.groupby('signal')
detailed_accuracy=pd.DataFrame([])
for sets, data in g:
    accuracy=len(data[data['correct']==1])/len(data)
    df=pd.DataFrame({'signal':sets, 'accuracy':accuracy,'number of detectors':len(data)}, index=[0])
    detailed_accuracy=detailed_accuracy.append(df)
detailed_accuracy

   signal  accuracy  number of detectors
0      85  1.000000                   20
0      86  0.886364                   44
0      90  0.851852                   27
0      91  0.966667                   30
0      92  0.846154                   26
0      93  0.800000                   25
0      94  1.000000                   14
0      95  0.692308                   39
0     102  1.000000                   14